* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #333338;
}

.container {
    padding: 16px 16px 50px;
    margin: 0 auto;
}
.header {
    margin-bottom: 28px;
}
.header__wrapper {
    background-image: url("img/logo.png");
    background-size: cover;
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.header__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.header__title_sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 35px;
}
.catalog {
    margin-bottom: 30px;
}
.divider {
    height: 1px;
    background: radial-gradient(50% 50% at 50% 50%, #BDC0C8 0%, rgba(162, 163, 168, 0) 100%);
    margin-bottom: 30px;
}
.section {
    margin: 0 auto;
}
.section + .section {
    margin-top: 24px;
}
.section__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 16px;
}
.section__title_center {
    text-align: center;
}
.section__grid-content {
    overflow: hidden;
    border: 1px solid #E6E9F2;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section__grid-content_big {
    grid-template-columns: 1fr;
}
.slider {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 16px;
    padding-right: 16px;
}
.slider__item {
    scroll-snap-align: start;
    width: inherit;
    box-sizing: border-box;
}
.slider__item + .slider__item {
    margin-left: 12px;
}
.benefit {
    border: 1px solid #E6E9F2;
    border-radius: 6px;
}
.benefit__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding: 14px 20px 20px 20px;
}
.product {
    padding: 16px 16px 12px 16px;
    background-color: #FFFFFF;
    outline: 1px solid #E6E9F2;
}
.product img {
    width: 100%;
}
.product__title {
    margin-top: 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
}
.product__price {
    margin-top: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.contacts-wrapper {
    padding: 30px 16px;
    background-color: #F7F0F0;
}
.contacts__item {
    border-radius: 3px;
    padding: 20px;
    background-color: #A43227;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contacts__item + .contacts__item {
    margin-top: 12px;
}
.contacts__icon {
    margin-right: 12px;
}
.socials {
    display: flex;
    justify-content: center;
    background-color: #333338;
    padding: 24px 56px;
}
.socials__item + .socials__item {
    margin-left: 8px;
}

@media (min-width: 768px) {
    .container, .section {
        max-width: 768px;
    }
    .section__grid-content {
        grid-template-columns: repeat(4, 1fr);
    }
    .section__grid-content_big {
        grid-template-columns: repeat(2, 1fr);
    }
}